h1 {
    text-align: center; /* Alinha o texto ao centro */
    font-size: 36px; /* Tamanho da fonte */
    color: palevioletred; /* Cor do texto */
    margin-bottom: 20px; /* Adiciona espaço abaixo do título */
}

.rating {
    unicode-bidi: bidi-override;
    position: relative;
    font-size: 64px; /* Aumenta o tamanho das estrelas */
    color: #968892; /* Cor do fundo das estrelas */
    cursor: pointer;
}
.rating > .star {
    display: inline-block;
    position: relative;
    width: 1.5em; /* Ajusta a largura das estrelas */
    transition: color 0.3s; /* Adiciona transição de cor */
}
.rating > .star.filled {
    color: palevioletred; /* Cor das estrelas preenchidas */
}

/* Definição da animação */
@keyframes bounce {
    0% { transform: scaleX(0); } /* Começa sem largura */
    40% { transform: scaleX(1.5); } /* Cresce rapidamente para a direita */
    80% { transform: scaleX(1); } /* Retorna ao tamanho normal */
    100% { transform: scaleX(1); } /* Mantém o tamanho normal */
}

.anime-character {
    width: 150px; /* Aumenta o tamanho do GIF */
    height: 150px; /* Aumenta o tamanho do GIF */
    margin-top: 20px; /* Posiciona o GIF mais abaixo das estrelas */
    margin-left: calc(50% - 75px); /* Centraliza o GIF horizontalmente */
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s;
}
.happy { background-image: url('https://media4.giphy.com/media/wdvtewKr34ylO/200.webp?cid=ecf05e4775f2g04w4aoelpss4th1n8exdgtwlovgd9nf7ahu&ep=v1_gifs_search&rid=200.webp&ct=g'); }
.neutral { background-image: url('https://media1.tenor.com/m/jYJX-LVnUVEAAAAC/kakashi.gif'); }
.sad { background-image: url('https://media1.tenor.com/m/acoHkVJ0xCQAAAAC/thanks-a-lot-naruto-shippuden.gif'); }

/* Estilo para a caixa de entrada */
textarea {
    width: calc(100% - 20px); /* Ocupa toda a largura disponível com margem de 10px */
    padding: 10px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui o padding na largura total */
    font-size: 16px;
    margin-top: 20px; /* Adiciona espaço acima da caixa de entrada */
    resize: none; /* Impede que o usuário redimensione a caixa de texto manualmente */
    overflow-y: hidden; /* Oculta a barra de rolagem vertical */
    border: 2px solid #ccc; /* Adiciona uma borda */
    border-radius: 5px; /* Adiciona cantos arredondados */
}
