body {
    font-family: Arial, sans-serif;
    margin: 1px;
    padding: 0;
    background-color: #fff;
}

i {
    margin: 8px;
}

p {
    margin: 30px;
    font-family: 'Arial Narrow Bold';
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

label {
    display: block;
    width: 90%;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 6%;
    background-color: #e977bd;
    color:#fff;
}

#formulario {
    margin-top: 100px;
}

select, button {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 6%;
    cursor: pointer;
}

input[type="text"] {
    width: 89%;
    padding: 5px;
    margin-top: 5px;
    margin-left: 6%;
}

input[type="number"] {
    width: 5%;
    padding: 5px;
    margin-top: 5px;
    margin-left: 6%;
}

button {
    background-color: #e977bd;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #bc0676;
}

#results {
    margin-top: 20px;
    font-family: cursive;
}

#results div {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-left: 30px;
}

#results img {
    max-width: 150px;
    height: auto;
    display: block;
    margin-left: 30px;
    margin-bottom: 10px;
}

img {
    margin: 0;
    padding: 0;
    display: block;
}

#header {
    display: flex;
    flex-direction: column;
}

#nome {
    font-family: 'Arial Narrow Bold';
    font-size: 20px;
    color: #fff;
}

#titulo {
    margin-top: 0;
    padding-top: 0;
    background-color: #e977bd;
    color: #ffffff;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #e977bd;
    font-size: 17px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

a:hover {
    color: #bc0676;
}
