body {
    font-family: Arial, sans-serif;
    margin: 1px;
    padding: 0;
    background-color: #fff;
}

i {
    margin: 10px;
}

p {
    margin-left: 30px;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

label {
    display: block;
    width: 90%;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 6%;
    background-color: #e977bd;
    color:#fff;
}

#formulario {
    margin-top: 100px;
}

select, button {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 6%;
    cursor: pointer;
}

input[type="text"] {
    width: 89%;
    padding: 5px;
    margin-top: 5px;
    margin-left: 6%;
}

input[type="number"] {
    width: 5%;
    padding: 5px;
    margin-top: 5px;
    margin-left: 6%;
}

button {
    background-color: #e977bd;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #bc0676;
}

#results {
    margin-top: 20px;
}

#results div {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

#results img {
    max-width: 100px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

img {
    margin: 0;
    padding: 0;
    display: block;
}

#header {
    display: flex;
    flex-direction: column;
}

#perfil {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fac7e6;
    color: #e977bd;
    font-weight: bold;
    margin-top: 30px;
    width: 250px;
    height: 300px;
    justify-content: start;
    align-items: start;
    margin-left: 500px;
    border: 2px solid #bc0676;
}

#perfil::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10%;
    width: 2px; /* Adjust the width of the line */
    height: 100%;
    background-color: #bc0676; /* Color of the line */
    transform: translateX(-50%);
}

#nome {
    font-family: 'Arial Narrow Bold';
    font-size: 25px;
    color: #bc0676;
}

#meuacervo {
    font-family: 'Arial Narrow Bold';
    font-size: 25px;
    cursor: pointer;
}

#meuacervo:hover {
    color: #bc0676;
}


#titulo {
    margin-top: 0;
    padding-top: 0;
    background-color: #e977bd;
    color: #ffffff;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #bc0676;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #fac7e6;
    font-weight: bold;
}

a:hover {
    color: #fa49ad;
}

